@font-face {

    font-family: SH;   //重命名字体名称

src: url('./SourceHanSansCN-Normal.otf');

    font-weight: normal;

    font-style: normal;

}
@font-face {

    font-family: SH;   //重命名字体名称

    src: url('./SourceHanSansCN-Bold.otf');

    font-weight: bold;

    font-style: normal;

}
